<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <solution>
    <add key="disableSourceControlIntegration" value="true" />    
  </solution>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
    <add key="Quirco sources" value="http://nuget.quirco.com:81/nuget" />
  </packageSources>
</configuration>