<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>

    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientBehavior">          
        </behavior>
      </endpointBehaviors>
      
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />          
        </behavior>        
      </serviceBehaviors>
    </behaviors>
    
    <bindings>
      <netTcpBinding>
        <binding name="TcpBinding">          
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="WebBinding" />
      </basicHttpBinding>
    </bindings>
    
  </system.serviceModel>
</configuration>