<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />          
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <bindings>
      <netTcpBinding>
        <binding name="TcpBinding" />
      </netTcpBinding>
      <webHttpBinding>
        <binding name="WebBinding" />
      </webHttpBinding>
    </bindings>
    
  </system.serviceModel>
</configuration>